**/*.log
**/.idea
./__pycache__
**/__pycache__
**/__pycache__/**
./node_modules
**/node_modules
/node_modules
*.log
**/*.log
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.log
.DS_Store